@charset "utf-8";
*{ padding: 0px; margin: 0px;}
body{ font-size: 17px; font-family: "微软雅黑";}
ul{ padding: 0px; margin: 0px;}
li{ list-style-type: none;}
a{text-decoration: none;cursor:pointer;}
#headItem{ padding-top:15px; padding-left:40px; line-height:25px;}
.ui-stepBar-wrap{ margin-top:20px; float:left; width:82px; position:relative; height:95%}
.ui-stepBar{background: #979696;
width: 4px;
position: absolute;

z-index: -1;
left: 51px;}
.ui-stepBar-wrap .ui-stepBar .ui-stepProcess{position:relative;width:4px;height:0px;background:#c6010f;top:0;left:0;z-index:102;}
.ui-stepBar-wrap .ui-stepInfo-wrap{width:58px;height:100%;}

.ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo .ui-stepSequence{position:relative; width:35px; height:35px;border-radius:50%;z-index:103; display: inline-block; text-align: center; line-height: 30px;}
.ui-stepSequence img,.ui-stepInfo-wrap img, .ui-stepInfo img, .ui-stepSequence img {vertical-align: middle; padding-top:5px;}
.ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo .ui-stepName{position:relative;line-height:50px;z-index:103;}
.ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo .judge-stepSequence-pre-change,
.ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo .judge-stepSequence-hind-change{cursor:pointer;}
.ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo .judge-stepSequence-pre-change:hover{box-shadow:0 0 3px 1px #c6010f;}
.ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo .judge-stepSequence-hind-change:hover{box-shadow:0 0 3px 1px #cccccc;}
.judge-stepSequence-pre{background:#c6010f;color:#ffffff;}
.judge-stepSequence-hind{background:#cccccc;color:#000000;}

.author{position:absolute;bottom:0;width:100%;text-align:center;margin:40px auto;color:#1569ec;text-shadow:1px 1px 0 #e7e7e7, 0 1px 7px #fff;}
.check{ margin:15px 20px 0 20px; color: #666;}
.title{ font-family:"微软雅黑"; height: 45px; line-height: 45px; text-align: center; background: #c6010f; color: #fff; font-size: 20px; overflow: hidden;}
.check label {width: 70px;float: left;line-height: 32px;text-align: right;}
.check-number{border: 1px solid #D3D3D3;height: 30px;width: 71%;font-size: 16px;}
.red{ color: #c6010f; float: left; line-height: 32px;}
.check p{ margin:10px 0;}
.check-btn{ background: #c6010f; display: block; height: 35px; line-height: 35px; color: #fff; text-align: center; font-size: 20px; margin-top: 15px; font-family:"微软雅黑";vertical-align: middle;border-radius: 3px;}
.check-btn-lg{ background: #c6010f; display: block; height: 46px; line-height: 46px; color: #fff; text-align: center; font-size: 20px; margin-top: 15px;vertical-align: middle;border-radius: 6px;}
.return{float: left; margin-left: 20px; padding-top: 5px; margin-right: -30px;}
.return img{ width: 19px; height: 25px; padding-top:5px; }
.process-right{ float: left;}
.step p{ color:#666666; text-indent:5px;font-size:13px;}
.step{ height: 80px;}
.step1{ padding-top: 27px;}
.step-color{ color: #c6010f;}
.input-group-addon{font-family:"微软雅黑";}

#alertinfo{margin-top:10px;}