<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--源数据库配置文件-->
    <add key="SourceType" value="2"/>
    <add key="SourceName" value="localhost"/>
    <add key="SourceDB" value="motherbaby_test"/>
    <add key="SourcePort" value="3306"/>
    <add key="SourceUsername" value="root"/>
    <add key="SourcePassword" value="root"/>
    <!--源分页-->
    <add key="SourcePageIndex" value="0"/>
    <add key="SourcePageSize" value="10000"/>

    <!--目标数据库配置文件-->
    <add key="DestType" value="2"/>
    <add key="DestName" value="localhost"/>
    <add key="DestDB" value="motherbaby_test"/>
    <add key="DestPort" value="3306"/>
    <add key="DestUsername" value="root"/>
    <add key="DestPassword" value="root"/>
    <!--目标分页-->
    <add key="DestPageIndex" value="0"/>
    <add key="DestPageSize" value="10000"/>

    <!--公司ID-->
    <add key="DestCompanyId" value="111"/>
    <!--添加字段-->
    <!--<add key="DestAddField" value="true"/>-->
    <add key="DestAddField" value="false"/>
    <!--执行作操-->
    <add key="DestExec" value="true"/>
    <!--<add key="DestExec" value="false"/>-->
    <!--更新数据-->
    <!--<add key="DestUpdateData" value="true"/>-->
    <add key="DestUpdateData" value="false"/>
    <!--删除字段-->
    <!--<add key="DestDropField" value="true"/>-->
    <add key="DestDropField" value="false"/>

    <!--导数据参数-->
    <add key="EnumType" value="HOUSEIMAGE"/>
    <add key="ThreadEnabled" value="false"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
