<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--阿里云通讯配置参数-->
    <add key="AccessKeyId" value="LTAI6EX4sCzeA203"/>
    <add key="AccessKeySecret" value="8J1UsfrNY4jGVTMv17495PE4hAiuha"/>
    <add key="SignName" value="钻石天下"/>
    <add key="TemplateCode_Resigter" value="SMS_119910594"/>
    <add key="TemplateCode_ForgetPwd" value="SMS_119920610"/>
    
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>